#post{
    margin-top: 20%;
    height: auto;
    margin-left: 15%;
    box-shadow: 10px blue;
    background-color: white;
    margin-left: 25%;
    width: 50%;
}

form{
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    /* resize: horizontal; */
    align:center;
}

h1 {

    padding: 50px;
  text-align: center;
    
    }

button{
    float: center;
    margin-right: 40%;

    }
